{% extends 'master\master.html' %}
{% load widget_tweaks %}

 {% block title %} Search For{% endblock %}
 {% block content %}
 <!-- Page Heading -->
     <section class="page-heading">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
             <h1>Related Jobs</h1>
           </div>
         </div>
       </div>
     </section>
     <!-- Page Heading / End -->

     <!-- Page Content -->
     <section class="page-content">
       <div class="container">


       </div>
     </section>

     <!-- Page Content / End -->

     <div>
       {% if messages %}
       <ul class="messages">
         {% for k in messages %}
         <li style="color:red">{{k}}</li>
         {% endfor %}
       </ul>
       {% endif %}
     </div><br>

     <div class="container"style="color:blue">

       {% if sr %}
           {% for k in sr %}

       <table border="0px" width="700px">
         <tr>
           <td>Title :</td>
           <td><a href="{% url 'companyvacancyclickdetails' k.id %}">{{k.title}}</a></td>
         </tr>
         <tr>
           <td>Skills :</td>
           <td>{{k.tag}}</td>
         </tr>
         <tr>
           <td>Company Name :</td>
           <td>{{k.company}}</td>
         </tr>
         <tr>
           <td>Job location :</td>
           <td>{{k.vacancy_location}}</td>
         </tr>
       </table>

       <hr>
       {% endfor %}
       {% endif %}

     </div>


{% endblock %}
