{% extends 'master/master.html' %}
	{% block content %}
	{% load staticfiles %}
	{% load widget_tweaks %}
		<section class="page-content">
		<div class="container">
		<div class="col-md-4">
			<ul class="list-group">
				  <li class="list-group-item"><a href="{% url 'dashboard' %}">Dashboard</li>
				  <li class="list-group-item"><a href="{% url 'updateuser' %}">User info</a></li>
				  <li class="list-group-item"><a href="{% url 'updateuserskill' %}">Skill</a></li>
				  <li class="list-group-item"><a href="{% url 'allvacancy' %}">CV</a></li>
				</ul>
		</div>
		<div class="col-md-8">
		<form method='POST' action="{% url 'updateuser'%}">
			{% csrf_token %}
			{{form.as_p}}
			<button type='submit' class="btn btn-primary">update</button>
		</form>
		</div>
		</div>
		</section>
	{% endblock %}
{% block title%} User Update {% endblock %}
