{% extends 'master/master.html' %}
	{% block content %}
	{% load staticfiles %}
	{% load widget_tweaks %}
		<section class="page-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<h1>You must log in  to apply for this vacancy</h1>
				</div>
			</div>
		</div>
		</section>
		<!-- Page Heading / End -->

		<!-- Page Content -->
		<section class="page-content">
		<div class="container">

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="spacer-lg visible-sm visible-xs"></div>
					<div class="box">


						<form action="{% url 'login' %}" method="POST" role="form">

						{% csrf_token %}
						{% for f in form %}
							<div class="form-group">
								<label>{{f.label_tag}} <span class="required">*</span></label>
								{{f|add_class:'form-control'}}
							</div>
							{% if f.help_text %}
						      <small style="color: grey">{{ f.help_text }}</small>
						    {% endif %}
						    {% for error in f.errors %}
						      <p style="color: red">{{ error }}</p>
						    {% endfor %}
							{% endfor %}
							<button type="submit" class="btn btn-primary">Login</button>
						</form>
					</div>
				</div>
			</div>

		</div>
		</section>
{% endblock %}
{% block title%} Register {% endblock %}
